@media only screen and (min-width: 992px) {

    * {
        margin: 0%;
        padding: 0%;
    }

    .container {
        display: flex;
        justify-content: space-between;
    }

    /* CONTAINER1 */
    .details-container1 {
        width: 30%;
        height: 200vh;
        background-color: #163853;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .details-container1 .avatar {
        border: 4px solid white;
        border-radius: 50%;
    }

    /* CONTACT */
    .contact-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* background-color: rgb(36, 140, 83); */
        width: 80%;
        height: 33vh;
        color: white;
    }

    .contact-header {
        /* background-color: antiquewhite; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .contact-header h2 {
        width: 100%;
    }

    hr {
        border: 1.2px solid white;
    }

    .ul-contact {
        /* background-color: antiquewhite; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 75%;
    }

    .ul-contact li {
        list-style: none;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        gap: 0.8rem;
        /* background-color: violet; */
        width: 100%;
    }

    /* EDUCATION  */
    .education-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* background-color: rgb(66, 121, 121); */
        width: 80%;
        height: 45vh;
        color: white;
    }

    .education-header {
        /* background-color: antiquewhite; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .education-header h2 {
        width: 100%;
    }

    hr {
        border: 1.2px solid white;
    }

    .education1,
    .education2 {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* background-color: rgb(121, 66, 105); */
        width: 80%;
        height: 18vh;
        color: white;
    }

    .ul-education {
        /* background-color: rgb(215, 127, 13); */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 35%;
    }

    .ul-education li {
        /* background-color: violet; */
        width: 90%;
    }

    .education2 .ul-education {
        /* background-color: rgb(13, 87, 215); */
        height: 40%;
    }

    /* SKILLS */
    .skills-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* background-color: rgb(164, 28, 28); */
        width: 80%;
        height: 38vh;
        color: white;
    }

    .skills-header {
        /* background-color: antiquewhite; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .skills-header h2 {
        width: 100%;
    }

    hr {
        border: 1.2px solid white;
    }

    .skills-list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* background-color: rgb(121, 66, 105); */
        width: 80%;
        height: 30vh;
        color: white;
    }

    .ul-skills {
        /* background-color: rgb(215, 127, 13); */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .ul-skills li {
        /* background-color: violet; */
        width: 90%;
    }

    /* LANGUAGES */
    .languages-container {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* background-color: rgb(113, 113, 113); */
        width: 80%;
        height: 25vh;
        color: white;
    }

    .languages-header {
        /* background-color: antiquewhite; */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .languages-header h2 {
        width: 100%;
    }

    hr {
        border: 1.2px solid white;
    }

    .languages-list {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        /* background-color: rgb(121, 66, 105); */
        width: 80%;
        height: 16vh;
        color: white;
    }

    .ul-languages {
        /* background-color: rgb(215, 127, 13); */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }

    .ul-languages li {
        /* background-color: violet; */
        width: 90%;
    }


    /* CONTAINER2 */
    .details-container2 {
        width: 70%;
        height: 200vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .details-container2 hr {
        border: 1.2px solid #60696c;
    }

    /* NAME */
    .name-container {
        /* background-color: rgb(126, 123, 130); */
        height: 35vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .name-content {
        /* background-color: rgb(161, 202, 203); */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 85%;
        height: 60%;
        color: #545454;
    }

    .name-content h1 {
        font-size: 3rem;
    }

    .light-font {
        font-weight: lighter;
        color: #163853;
    }

    .name-content h5 {
        font-weight: lighter;
        font-size: 1.1rem;
    }

    .name-container hr {
        width: 4.5vw;
        border: 2.5px solid #1d3748;
    }

    /* PROFILE */
    .profile-container {
        /* background-color: rgb(255, 114, 114); */
        height: 26vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .profile-content {
        /* background-color: rgb(161, 202, 203); */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 93%;
        height: 90%;
        color: #163853;
    }

    .profile-content p {
        color: #546574;
        line-height: 1.3rem;
        text-align: justify;
    }


    /* WORK EXPERIENCE  */
    .wExperience-container {
        /* background-color: rgb(64, 165, 79); */
        height: 90vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .wExperience-content {
        /* background-color: rgb(161, 202, 203); */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 93%;
        height: 95%;
        color: #163853;
    }

    .ul-wExperience {
        /* background-color: rgb(215, 127, 13); */
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 90%;
        list-style-type: square;
        color: #54545f;
    }

    .ul-wExperience li {
        /* background-color: violet; */
        width: 98%;
        position: relative;
    }

    .li-ul-wExperience::before {
        content: '';
        position: absolute;
        left: -1.05vw;
        top: 1vw;
        height: 58vh;
        width: 0.16vw;
        background-color: #163853;

    }



    .wExperience-content h4 {
        font-size: 1.1rem;
    }

    .wExperience-span {
        float: right;
        font-weight: lighter;
    }

    .ul-wExperience p {
        font-size: 1.1rem;
    }

    .inner-ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        list-style-type: disc;
    }

    .inner-ul li {
        /* background-color: bisque; */
        margin-right: 10px;
        width: 95%;
        text-align: justify;
    }

    /* REFERENCE */
    .reference-container {
        /* background-color: rgb(255, 114, 114); */
        height: 28vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .reference-content {
        /* background-color: rgb(161, 202, 203); */
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        width: 93%;
        height: 90%;
        color: #163853;
    }

    .reference-details {
        display: flex;
        justify-content: space-between;
        /* background-color: #1c618e; */
        height: 60%;
        color: #54545f;
    }

    .left-details,
    .right-details {
        /* background-color: rgb(148, 148, 14); */
        height: 100%;
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .right-details {
        width: 35%;
    }

    .reference-details h4 {
        font-weight: lighter;
    }

    .ref-contact {
        display: flex;
        justify-content: flex-start;
        gap: 1rem;
    }
}

.hidden {
    display: none;
}

/* .ul-contact li.hidden-content {
    display: none;
} */


#ulContainer .workScetion3.hidden {
    display: none;
}